Checks: '
  *,
  -altera-*,
  -android-*,
  -darwin-*,
  -fuchsia-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,

  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,

  cert-*,

  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,

  concurrency-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-prefer-member-initializer

  hicpp-*,
  -hicpp-braces-around-statements,
  -hicpp-explicit-conversions,
  -hicpp-no-malloc,
  -hicpp-uppercase-literal-suffix,

  misc-*,
  -misc-confusable-identifiers,
  -misc-non-private-member-variables-in-classes,

  modernize-*,
  -modernize-avoid-bind,
  -modernize-macro-to-enum,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,

  performance-*,

  portability-*,

  readability-*,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,

  -google-*,
  -llvm-*,
  -abseil-*,
  -boost-*,
  -linuxkernel-*,
'

CheckOptions:
  - key:             HeaderFilterRegex
    value:           '^(src|include|your_project_folders_here)/.*$'
  - key:             readability-identifier-naming.WarningOnly
    value:           true
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _

  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL,NULLPTR'
  - key:             modernize-loop-convert.MaxCopySize
    value:           16
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable

  - key:             performance-unnecessary-copy-initialization.AllowConstParameters
    value:           true

WarningsAsErrors: ''

FormatStyle:           file
